@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
	--primary: #22254b;
	--secondary: #373b69;
}

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 8px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.7);
	border-radius: 20px;
	border: transparent;
}

body {
	background-color: var(--primary);
	color: white;
	font-family: "Poppins", sans-serif;
	margin: 0;
}

.movie-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;

	.movie {
		background-color: var(--secondary);
		border-top-left-radius: 2rem;
		border-top-right-radius: 2rem;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
		overflow: hidden;
		width: 300px;
		margin: 1rem;
		position: relative;
		cursor: pointer;

		img {
			width: 100%;
			object-fit: cover;
			height: 400px;
		}

		.movie-info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1rem;

			h3 {
				margin: 0;
				margin-right: 0.5rem;
			}

			.vote {
				background-color: var(--primary);
				padding: 0.3rem;
				border-radius: 0.4rem;
			}

			.green {
				color: rgb(46, 235, 46);
			}

			.orange {
				color: orange;
			}

			.red {
				color: red;
			}
		}

		.movie-overview {
			background-color: white;
			color: black;
			position: absolute;
			bottom: 0;
			padding: 1rem;
			max-height: 100%;
			overflow: auto;
			transform: translateY(100%);
			transition: all 0.8s ease-in-out;
		}
	}

	.movie:hover {
		.movie-overview {
			transform: translateY(0%);
		}
	}

	.no-search {
		margin-top: 25vh;
		padding: 0rem 1rem;
	}
}

header {
	width: 100%;
	background-color: var(--secondary);
	padding: 0rem 1rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.search {
		border-radius: 1rem;
		padding: 0.3rem 0.4rem;
		border: 0.4rem solid var(--primary);
		background: transparent;
		color: white;
		font: inherit;
	}

	.search:focus {
		outline: none;
	}

	@media screen and (max-width: 768px) {
		h2 {
			font-size: large;
		}

		form {
			width: 30%;

			.search {
				padding: 0.2rem 0.3rem;
				border: 0.2rem solid var(--primary);
				max-width: 100%;
			}
		}
	}
}
